{{define "add"}}
<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
    {{template "header" "블록 추가하기"}}
    <main>
        <form method="POST">
            <input type="text" placeholder="Data for your block" required name="blockData"/>
            <button>블록 추가</button>
        </form>
    </main>
{{template "footer"}}
</body>
</html>
{{end}}